@import './base.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.appHeader {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  box-shadow: 0 1px 2px rgb(0 0 0 / 27%);
  min-height: 64px;

  &__wrapper {
    min-height: 64px;
  }
}

.changelogTrigger {
  color: var(--tsxahChangelogColorRegular);
  &:hover {
    color: var(--tsxahChangelogColorHover);
  }
}

.whatsNew {
  color: var(--tsxahChangelogColorRegular) !important;
  &:hover {
    color: var(--tsxahChangelogColorHover) !important;
  }
}

.navigation {
  &__link {
    &:after {
      content: '';
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      z-index: 2;
      @apply bg-transparent transition-all duration-300 ease-in-out;
    }
    &:hover:after {
      @apply bg-nav-borderHover;
    }

    &--active {
      &:after {
        @apply bg-nav-borderActive;
      }
      &:hover:after {
        @apply bg-nav-borderActive;
      }
    }
  }
}

.dotNav {
  &__sub {
    &:before {
      content: '\2022';
      margin-right: 0.5rem;
    }
  }
}
